@charset 'utf-8';
// mark: 컬러피커
.pl-color-picker{
  .mdi-eyedropper{
    background-image: url("data:image/svg+xml;base64,PHN2ZyBpZD0iTGF5ZXJfMSIgaGVpZ2h0PSI1MTIiIHZpZXdCb3g9IjAgMCAyNCAyNCIgd2lkdGg9IjUxMiIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiBkYXRhLW5hbWU9IkxheWVyIDEiPjxwYXRoIGQ9Im0yMy4xMTIgNS4xNjVhMy4wMjUgMy4wMjUgMCAwIDAgMC00LjI3OSAzLjA5NCAzLjA5NCAwIDAgMCAtNC4yNzYgMGwtMi40MzYgMi40MzhjLTEuMDEyIDEuMDEzLTMuMTIzLjc4OS00LjU3OS0uMDEzYTIuNiAyLjYgMCAwIDAgLTMuMDU3IDQuMTQ0bDEuNDE2IDEuNDE2LTguMTU1IDguMTU0YTMuNDU1IDMuNDU1IDAgMCAwIC0uNTkzIDQuMTI5bC0xLjEzOSAxLjEzOWExIDEgMCAwIDAgMCAxLjQxNCAxIDEgMCAwIDAgMS40MTQgMGwxLjEzOS0xLjEzOWEzLjQ1NSAzLjQ1NSAwIDAgMCA0LjEyOS0uNTkzbDguMTU0LTguMTU1IDEuNDE2IDEuNDE2YTIuNiAyLjYgMCAwIDAgNC4xNDQtMy4wNTdjLS44LTEuNDU2LTEuMDI1LTMuNTY4LS4wMTMtNC41OHptLTE3LjU1MiAxNS4zOTZhMS41MzYgMS41MzYgMCAwIDEgLTIuMTIxIDAgMS41IDEuNSAwIDAgMSAwLTIuMTIxbDguMTU1LTguMTU0IDIuMTIxIDIuMTIxem0xMy43LTE0LjM3NmMtMS43NTkgMS43NTktMS41IDQuODMyLS4zMjUgNi45NThhLjU3OC41NzggMCAwIDEgLS4xMTkuNjc5LjYyMS42MjEgMCAwIDEgLS44NTkgMGwtNy43NzktNy43ODFhLjYxMi42MTIgMCAwIDEgLjQyOC0xLjA0MS41MjIuNTIyIDAgMCAxIC4yNTEuMDYzYzIuMTI2IDEuMTcgNS4yIDEuNDM0IDYuOTU4LS4zMjVsMi40MzktMi40MzhhMS4wNDUgMS4wNDUgMCAwIDEgMS40NDYgMCAxLjAyNCAxLjAyNCAwIDAgMSAwIDEuNDQ5eiIvPjwvc3ZnPg==");
		background-size: contain;
  }
  .v-color-picker-swatches__color{
    border-radius: 12px;
  }
}
.pl-swatch-eyedropper{
  position: relative;
  .v-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #FFF;
    font-size: 16px;
    pointer-events: none;
  }
  .pl-swatch-palette{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 1px solid $color-border;
    cursor: pointer;
  }
}
.pl-color-picker-font{
  position: absolute;
  left: 6px;
  right: 6px;
  bottom: 3px;
  height: 2px;
}
.v-color-picker-edit{
  display: none !important;
}
// swatch
.pl-swatches{
  display: flex !important;
  &.type-nobg{
    .vue-swatches__trigger{
      background-color: transparent !important;
      background-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTUiIGhlaWdodD0iMTUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHhtbDpzcGFjZT0icHJlc2VydmUiIG92ZXJmbG93PSJoaWRkZW4iPjxkZWZzPjxjbGlwUGF0aCBpZD0iY2xpcDAiPjxyZWN0IHg9IjIxNSIgeT0iNDY3IiB3aWR0aD0iMTUiIGhlaWdodD0iMTUiLz48L2NsaXBQYXRoPjwvZGVmcz48ZyBjbGlwLXBhdGg9InVybCgjY2xpcDApIiB0cmFuc2Zvcm09InRyYW5zbGF0ZSgtMjE1IC00NjcpIj48cGF0aCBkPSJNMjI4Ljk1NCA0NzguNTE0QzIyOS40MDkgNDc5LjE2IDIzMCA0NzkuOTA3IDIzMCA0ODAuNDM4IDIzMCA0ODEuMyAyMjkuMyA0ODIgMjI4LjQzOCA0ODIgMjI3LjU3NSA0ODIgMjI2Ljg3NSA0ODEuMyAyMjYuODc1IDQ4MC40MzggMjI2Ljg3NSA0NzkuOTUzIDIyNy40NzYgNDc5LjE4MiAyMjcuOTMyIDQ3OC41MTkgMjI4LjEzIDQ3OC4yMzYgMjI4LjUxOSA0NzguMTY2IDIyOC44MDMgNDc4LjM2NCAyMjguODYxIDQ3OC40MDUgMjI4LjkxMyA0NzguNDU1IDIyOC45NTQgNDc4LjUxNFpNMjI4LjQwNiA0NzUuNjY1IDIyMi45ODYgNDgxLjA4NUMyMjEuNzY1IDQ4Mi4zMDMgMjE5Ljc4OCA0ODIuMzAzIDIxOC41NjcgNDgxLjA4NUwyMTUuOTE2IDQ3OC40MzNDMjE0LjY5NSA0NzcuMjEzIDIxNC42OTUgNDc1LjIzNCAyMTUuOTE2IDQ3NC4wMTRMMjE5LjQ4NCA0NzAuNDQ1IDIxNy42OTkgNDY4LjYzOUMyMTcuNDYgNDY4LjM4OSAyMTcuNDY5IDQ2Ny45OTQgMjE3LjcxOCA0NjcuNzU1IDIxNy45NjIgNDY3LjUyMiAyMTguMzQ3IDQ2Ny41MjQgMjE4LjU4NyA0NjcuNzZMMjIwLjM2NyA0NjkuNTYyIDIyMS4zMzUgNDY4LjU5NCAyMjAuODA4IDQ2OC4wNjdDMjIwLjU2OCA0NjcuODE5IDIyMC41NzUgNDY3LjQyMyAyMjAuODIzIDQ2Ny4xODMgMjIxLjA2NiA0NjYuOTQ5IDIyMS40NSA0NjYuOTQ5IDIyMS42OTIgNDY3LjE4M0wyMjkuODE3IDQ3NS4zMDhDMjMwLjA2NSA0NzUuNTQ4IDIzMC4wNzIgNDc1Ljk0NCAyMjkuODMyIDQ3Ni4xOTIgMjI5LjU5MiA0NzYuNDQgMjI5LjE5NyA0NzYuNDQ3IDIyOC45NDkgNDc2LjIwNyAyMjguOTQzIDQ3Ni4yMDIgMjI4LjkzOCA0NzYuMTk3IDIyOC45MzMgNDc2LjE5MlpNMjI3LjUyMiA0NzQuNzgxIDIyMi4yMTkgNDY5LjQ3OCAyMjEuMjQ2IDQ3MC40NTEgMjI0LjE5NCA0NzMuNDM4QzIyNC40NTIgNDczLjY2NyAyMjQuNDc2IDQ3NC4wNjIgMjI0LjI0NyA0NzQuMzIgMjI0LjAxNyA0NzQuNTc4IDIyMy42MjIgNDc0LjYwMSAyMjMuMzY0IDQ3NC4zNzIgMjIzLjM0MyA0NzQuMzU0IDIyMy4zMjQgNDc0LjMzNCAyMjMuMzA2IDQ3NC4zMTJMMjIwLjM2MyA0NzEuMzM0IDIxNi44IDQ3NC44OTdDMjE2LjA2OCA0NzUuNjI5IDIxNi4wNjggNDc2LjgxNiAyMTYuOCA0NzcuNTQ4IDIxNi44IDQ3Ny41NDkgMjE2LjggNDc3LjU0OSAyMTYuOCA0NzcuNTQ5TDIxOS40NTEgNDgwLjIwMUMyMjAuMTg0IDQ4MC45MzEgMjIxLjM3IDQ4MC45MzEgMjIyLjEwMyA0ODAuMjAxWiIgZmlsbD0iIzg1OTBBMCIvPjwvZz48L3N2Zz4=");
    }
  }
  .vue-swatches__trigger{
    background-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTUiIGhlaWdodD0iMTUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHhtbDpzcGFjZT0icHJlc2VydmUiIG92ZXJmbG93PSJoaWRkZW4iPjxkZWZzPjxjbGlwUGF0aCBpZD0iY2xpcDAiPjxyZWN0IHg9IjIxNSIgeT0iNDY3IiB3aWR0aD0iMTUiIGhlaWdodD0iMTUiLz48L2NsaXBQYXRoPjwvZGVmcz48ZyBjbGlwLXBhdGg9InVybCgjY2xpcDApIiB0cmFuc2Zvcm09InRyYW5zbGF0ZSgtMjE1IC00NjcpIj48cGF0aCBkPSJNMjI4Ljk1NCA0NzguNTE0QzIyOS40MDkgNDc5LjE2IDIzMCA0NzkuOTA3IDIzMCA0ODAuNDM4IDIzMCA0ODEuMyAyMjkuMyA0ODIgMjI4LjQzOCA0ODIgMjI3LjU3NSA0ODIgMjI2Ljg3NSA0ODEuMyAyMjYuODc1IDQ4MC40MzggMjI2Ljg3NSA0NzkuOTUzIDIyNy40NzYgNDc5LjE4MiAyMjcuOTMyIDQ3OC41MTkgMjI4LjEzIDQ3OC4yMzYgMjI4LjUxOSA0NzguMTY2IDIyOC44MDMgNDc4LjM2NCAyMjguODYxIDQ3OC40MDUgMjI4LjkxMyA0NzguNDU1IDIyOC45NTQgNDc4LjUxNFpNMjI4LjQwNiA0NzUuNjY1IDIyMi45ODYgNDgxLjA4NUMyMjEuNzY1IDQ4Mi4zMDMgMjE5Ljc4OCA0ODIuMzAzIDIxOC41NjcgNDgxLjA4NUwyMTUuOTE2IDQ3OC40MzNDMjE0LjY5NSA0NzcuMjEzIDIxNC42OTUgNDc1LjIzNCAyMTUuOTE2IDQ3NC4wMTRMMjE5LjQ4NCA0NzAuNDQ1IDIxNy42OTkgNDY4LjYzOUMyMTcuNDYgNDY4LjM4OSAyMTcuNDY5IDQ2Ny45OTQgMjE3LjcxOCA0NjcuNzU1IDIxNy45NjIgNDY3LjUyMiAyMTguMzQ3IDQ2Ny41MjQgMjE4LjU4NyA0NjcuNzZMMjIwLjM2NyA0NjkuNTYyIDIyMS4zMzUgNDY4LjU5NCAyMjAuODA4IDQ2OC4wNjdDMjIwLjU2OCA0NjcuODE5IDIyMC41NzUgNDY3LjQyMyAyMjAuODIzIDQ2Ny4xODMgMjIxLjA2NiA0NjYuOTQ5IDIyMS40NSA0NjYuOTQ5IDIyMS42OTIgNDY3LjE4M0wyMjkuODE3IDQ3NS4zMDhDMjMwLjA2NSA0NzUuNTQ4IDIzMC4wNzIgNDc1Ljk0NCAyMjkuODMyIDQ3Ni4xOTIgMjI5LjU5MiA0NzYuNDQgMjI5LjE5NyA0NzYuNDQ3IDIyOC45NDkgNDc2LjIwNyAyMjguOTQzIDQ3Ni4yMDIgMjI4LjkzOCA0NzYuMTk3IDIyOC45MzMgNDc2LjE5MlpNMjI3LjUyMiA0NzQuNzgxIDIyMi4yMTkgNDY5LjQ3OCAyMjEuMjQ2IDQ3MC40NTEgMjI0LjE5NCA0NzMuNDM4QzIyNC40NTIgNDczLjY2NyAyMjQuNDc2IDQ3NC4wNjIgMjI0LjI0NyA0NzQuMzIgMjI0LjAxNyA0NzQuNTc4IDIyMy42MjIgNDc0LjYwMSAyMjMuMzY0IDQ3NC4zNzIgMjIzLjM0MyA0NzQuMzU0IDIyMy4zMjQgNDc0LjMzNCAyMjMuMzA2IDQ3NC4zMTJMMjIwLjM2MyA0NzEuMzM0IDIxNi44IDQ3NC44OTdDMjE2LjA2OCA0NzUuNjI5IDIxNi4wNjggNDc2LjgxNiAyMTYuOCA0NzcuNTQ4IDIxNi44IDQ3Ny41NDkgMjE2LjggNDc3LjU0OSAyMTYuOCA0NzcuNTQ5TDIxOS40NTEgNDgwLjIwMUMyMjAuMTg0IDQ4MC45MzEgMjIxLjM3IDQ4MC45MzEgMjIyLjEwMyA0ODAuMjAxWiIgZmlsbD0iI0ZGRiIvPjwvZz48L3N2Zz4=");
    background-size: 20px;
    background-position: 50% 50%;
  }
  .vue-swatches__fallback__input{
    width: 40px;
  }
  &:hover{
    background: #f5f5f6;
    border-radius: 50%;
  }
}
.vue-swatches__swatch:hover,
.vue-swatches__swatch:focus,
.vue-swatches__swatch.vue-swatches__swatch--selected{
  box-shadow: inset 0 0 0px 2px #00000075 !important;
}

// setting swatch
.pl-inline-swatch{
  &.active{
    box-shadow: 0 0 0px 2px #000, inset 0 0 0 2px #FFF;
  }

}