@charset 'utf-8';

.pl-table{
  // hide-default-footer 적용 안되서 임시로 제거
  .v-data-table-footer{
    display: none;
  }
  &.v-data-table--show-select{
    .v-table__wrapper > table {
      .v-data-table__th:first-child {
        width: 40px !important;
        padding: 0 0 0 16px;
        text-align: center !important;
        .v-icon{
          &::before {
            content: "";
            position: relative;
            display: inline-block;
            width: 16px;
            height: 16px;
            border-radius: 2px;
            border: 1px solid var(--primary-color);
            background-image: none;
            background-color: #fff;
            box-sizing: border-box;
            transition: all 0.3s;
          }
          &::after {
            content: "";
            opacity: 1;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            display: inline-block;
            width: 10px;
            height: 2px;
            background-color: transparent;
            transition: all 0.3s;
            background-color: #FFF;
            border-radius: 1px;

          }
          &.mdi-checkbox-marked {
            &::before {
              background-color: $color-main;
            }
          }
        }
        &:hover {
          .v-input--selection-controls__input {
            .v-icon:not(.mdi-checkbox-marked) {
              &::before {
              }
              &::after {
                width: 10px;
                height: 2px;
                background-color: transparent;
                transition: all 0.3s;
                background-color: $color-main;
                border-radius: 1px;
              }
              &.mdi-checkbox-marked {
                &::before {
                  opacity: .5;
                }
                &::after {
                  background-image: url("data:image/svg+xml,%3Csvg width='10' height='10' viewBox='0 0 10 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M9.65767 1.1424C10.1007 1.56699 10.1157 2.27035 9.6911 2.71339L4.34388 8.29309C4.13431 8.51177 3.84455 8.63542 3.54167 8.63542C3.23878 8.63542 2.94903 8.51177 2.73946 8.29309L0.308904 5.75686C-0.115684 5.31382 -0.100719 4.61046 0.342328 4.18587C0.785375 3.76128 1.48873 3.77625 1.91332 4.21929L3.54167 5.91844L8.08668 1.17582C8.51127 0.732777 9.21462 0.717813 9.65767 1.1424Z' fill='white'/%3E%3C/svg%3E%0A");
                }
              }
            }
          }
        }
      }
      tbody tr td:first-child {
        padding: 0 0 0 16px;
        text-align: center !important;
        .v-icon{
          &::before {
            content: "";
            position: relative;
            display: inline-block;
            width: 16px;
            height: 16px;
            border-radius: 2px;
            border: 1px solid var(--primary-color);
            background-image: none;
            background-color: #fff;
            box-sizing: border-box;
            transition: all 0.3s;
          }
          &::after {
            content: "";
            opacity: 1;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            display: inline-block;
            width: 10px;
            height: 10px;
            background-color: transparent;
            transition: all 0.3s;
            background-image: url("data:image/svg+xml,%3Csvg width='10' height='10' viewBox='0 0 10 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M9.65767 1.1424C10.1007 1.56699 10.1157 2.27035 9.6911 2.71339L4.34388 8.29309C4.13431 8.51177 3.84455 8.63542 3.54167 8.63542C3.23878 8.63542 2.94903 8.51177 2.73946 8.29309L0.308904 5.75686C-0.115684 5.31382 -0.100719 4.61046 0.342328 4.18587C0.785375 3.76128 1.48873 3.77625 1.91332 4.21929L3.54167 5.91844L8.08668 1.17582C8.51127 0.732777 9.21462 0.717813 9.65767 1.1424Z' fill='white'/%3E%3C/svg%3E%0A");
          }
          &.mdi-checkbox-marked {
            &::before {
              background-color: $color-main;
            }
          }
        }
        &:hover {
          .v-input--selection-controls__input {
            .v-icon:not(.mdi-checkbox-marked) {
              &::before {
              }
              &::after {
                background-image: url("data:image/svg+xml,%3Csvg width='10' height='10' viewBox='0 0 10 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_4_2)'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M9.65767 1.1424C10.1007 1.56699 10.1157 2.27035 9.6911 2.71339L4.34388 8.29309C4.13431 8.51177 3.84455 8.63542 3.54167 8.63542C3.23878 8.63542 2.94903 8.51177 2.73946 8.29309L0.308904 5.75686C-0.115684 5.31382 -0.100719 4.61046 0.342328 4.18587C0.785375 3.76128 1.48873 3.77625 1.91332 4.21929L3.54167 5.91844L8.08668 1.17582C8.51127 0.732777 9.21462 0.717813 9.65767 1.1424Z' fill='%234C5CBB'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_4_2'%3E%3Crect width='10' height='10' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
              }
              &.mdi-checkbox-marked {
                &::before {
                  opacity: .5;
                }
                &::after {
                  background-image: url("data:image/svg+xml,%3Csvg width='10' height='10' viewBox='0 0 10 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M9.65767 1.1424C10.1007 1.56699 10.1157 2.27035 9.6911 2.71339L4.34388 8.29309C4.13431 8.51177 3.84455 8.63542 3.54167 8.63542C3.23878 8.63542 2.94903 8.51177 2.73946 8.29309L0.308904 5.75686C-0.115684 5.31382 -0.100719 4.61046 0.342328 4.18587C0.785375 3.76128 1.48873 3.77625 1.91332 4.21929L3.54167 5.91844L8.08668 1.17582C8.51127 0.732777 9.21462 0.717813 9.65767 1.1424Z' fill='white'/%3E%3C/svg%3E%0A");
                }
              }
            }
          }
        }
      }
    }
  }
  // icon sort
  .mdi-arrow-down{
    background-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTQiIGhlaWdodD0iMTQiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHhtbDpzcGFjZT0icHJlc2VydmUiIG92ZXJmbG93PSJoaWRkZW4iPjxkZWZzPjxjbGlwUGF0aCBpZD0iY2xpcDAiPjxyZWN0IHg9IjM2MSIgeT0iMjU3IiB3aWR0aD0iMTQiIGhlaWdodD0iMTQiLz48L2NsaXBQYXRoPjxjbGlwUGF0aCBpZD0iY2xpcDEiPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMzMzNTAiIGhlaWdodD0iMTMzMzUwIi8+PC9jbGlwUGF0aD48aW1hZ2Ugd2lkdGg9IjMyIiBoZWlnaHQ9IjMyIiB4bGluazpocmVmPSJkYXRhOmltYWdlL3BuZztiYXNlNjQsaVZCT1J3MEtHZ29BQUFBTlNVaEVVZ0FBQUNBQUFBQWdDQU1BQUFCRXBJckdBQUFBQVhOU1IwSUFyczRjNlFBQUFBUm5RVTFCQUFDeGp3djhZUVVBQUFCRlVFeFVSUUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFOenE2dmNBQUFBV2RGSk9Vd0FCQWhrYlZGdDZmSXVPajVtdnhNbk16dHJ3OGZYbktTT0hBQUFBQ1hCSVdYTUFBQTdEQUFBT3d3SEhiNmhrQUFBQWRFbEVRVlE0VCsyTVNSS0FJQXdFVWR3RmQrZi9UNVVsR2cvQVRjdURmWnBLZDBXOGp0UmEwZ3pUQWkzTk1BcFFOTVA4Z2VmalFUVTIyUlhVUSttdlRMNERmVVpCRDZ4MFoyYll3Z1hHWTZJelV5eTJzRUZueGxMUStZWXJOdk04NHFsd2hEMFhNWDhXY2UrTGxEZUYxa24vQUVJY3Y0NExCdEpob3ZrQUFBQUFTVVZPUks1Q1lJST0iIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiIGlkPSJpbWcyIj48L2ltYWdlPjxjbGlwUGF0aCBpZD0iY2xpcDMiPjxyZWN0IHg9Ii0wLjI1IiB5PSIwIiB3aWR0aD0iMTMzMzUwIiBoZWlnaHQ9IjEzMzM1MCIvPjwvY2xpcFBhdGg+PC9kZWZzPjxnIGNsaXAtcGF0aD0idXJsKCNjbGlwMCkiIHRyYW5zZm9ybT0idHJhbnNsYXRlKC0zNjEgLTI1NykiPjxnIGNsaXAtcGF0aD0idXJsKCNjbGlwMSkiIHRyYW5zZm9ybT0ibWF0cml4KDAuMDAwMTA0OTg3IDAgMCAtMC4wMDAxMDQ5ODcgMzYxIDI3MSkiPjxnIGNsaXAtcGF0aD0idXJsKCNjbGlwMykiPjx1c2Ugd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgeGxpbms6aHJlZj0iI2ltZzIiIHRyYW5zZm9ybT0ibWF0cml4KDQxNjcuMTkgMCAwIDQxNjcuMTkgLTAuMjUgMCkiPjwvdXNlPjwvZz48L2c+PC9nPjwvc3ZnPg==");
    background-position: 50% 50%;
    transform: rotate(180deg);
  }
  .mdi-arrow-up{
    background-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTQiIGhlaWdodD0iMTQiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHhtbDpzcGFjZT0icHJlc2VydmUiIG92ZXJmbG93PSJoaWRkZW4iPjxkZWZzPjxjbGlwUGF0aCBpZD0iY2xpcDAiPjxyZWN0IHg9IjM2MSIgeT0iMjU3IiB3aWR0aD0iMTQiIGhlaWdodD0iMTQiLz48L2NsaXBQYXRoPjxjbGlwUGF0aCBpZD0iY2xpcDEiPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMzMzNTAiIGhlaWdodD0iMTMzMzUwIi8+PC9jbGlwUGF0aD48aW1hZ2Ugd2lkdGg9IjMyIiBoZWlnaHQ9IjMyIiB4bGluazpocmVmPSJkYXRhOmltYWdlL3BuZztiYXNlNjQsaVZCT1J3MEtHZ29BQUFBTlNVaEVVZ0FBQUNBQUFBQWdDQU1BQUFCRXBJckdBQUFBQVhOU1IwSUFyczRjNlFBQUFBUm5RVTFCQUFDeGp3djhZUVVBQUFCRlVFeFVSUUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFOenE2dmNBQUFBV2RGSk9Vd0FCQWhrYlZGdDZmSXVPajVtdnhNbk16dHJ3OGZYbktTT0hBQUFBQ1hCSVdYTUFBQTdEQUFBT3d3SEhiNmhrQUFBQWRFbEVRVlE0VCsyTVNSS0FJQXdFVWR3RmQrZi9UNVVsR2cvQVRjdURmWnBLZDBXOGp0UmEwZ3pUQWkzTk1BcFFOTVA4Z2VmalFUVTIyUlhVUSttdlRMNERmVVpCRDZ4MFoyYll3Z1hHWTZJelV5eTJzRUZueGxMUStZWXJOdk04NHFsd2hEMFhNWDhXY2UrTGxEZUYxa24vQUVJY3Y0NExCdEpob3ZrQUFBQUFTVVZPUks1Q1lJST0iIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiIGlkPSJpbWcyIj48L2ltYWdlPjxjbGlwUGF0aCBpZD0iY2xpcDMiPjxyZWN0IHg9Ii0wLjI1IiB5PSIwIiB3aWR0aD0iMTMzMzUwIiBoZWlnaHQ9IjEzMzM1MCIvPjwvY2xpcFBhdGg+PC9kZWZzPjxnIGNsaXAtcGF0aD0idXJsKCNjbGlwMCkiIHRyYW5zZm9ybT0idHJhbnNsYXRlKC0zNjEgLTI1NykiPjxnIGNsaXAtcGF0aD0idXJsKCNjbGlwMSkiIHRyYW5zZm9ybT0ibWF0cml4KDAuMDAwMTA0OTg3IDAgMCAtMC4wMDAxMDQ5ODcgMzYxIDI3MSkiPjxnIGNsaXAtcGF0aD0idXJsKCNjbGlwMykiPjx1c2Ugd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgeGxpbms6aHJlZj0iI2ltZzIiIHRyYW5zZm9ybT0ibWF0cml4KDQxNjcuMTkgMCAwIDQxNjcuMTkgLTAuMjUgMCkiPjwvdXNlPjwvZz48L2c+PC9nPjwvc3ZnPg==");
    background-position: 50% 50%;
  }
  .pl-check {
    .v-selection-control__wrapper{
      width: 40px;
    }
  }
}
// marK: pager
.pl-pager {
  position: relative;
  display: grid;
  align-items: center;
  grid-template-columns: 30fr 40fr 30fr;
  .v-btn__content{
    font-size: 14px;
  }

  .v-pagination__item--is-active{
    .v-btn{
      border: 1px solid #4f62cd;
    }
    .v-btn__overlay{
      background: #4f62cd;
    }
    .v-btn__content{
      color: #4f62cd;
    }
  }

  .pl-pager-row {
    display: flex;
    align-items: center;
    gap: 10px;
    flex: 0 0 200px;
    .v-select {
      flex: 0 0 80px;
      .v-input__slot {
        background: #FFF !important;
        .v-select__selections {
          justify-content: center;
          input {
            display: none;
          }
        }
      }
    }
    .v-field__outline{
      .v-field__outline__start{
        border-radius: 15px 0 0 15px;
      }
      .v-field__outline__end{
        border-radius: 0 15px 15px 0;
      }
    }
  }
  .pl-pager-period {
    flex: 0 0 250px;
    font-size: 13px;
    text-align: right;
    color: $color-font-focus;
    > button {
      margin-left: 12px;
    }
  }

}