@charset "utf-8";
// textfield
.v-text-field:not(.v-textarea).pl-form {
  &.v-input--readonly{
    border-radius: 8px;
    background: $color-bg-disable;
    .v-field--focused{
      .v-field__outline {
        .v-field__outline__start,
        .v-field__outline__end{
          border-color: $color-border !important;
        }
      }
    }
  }
  &.v-input--disabled{
    opacity: 1;
    .v-field__field{
      color: $color-font-disable;
    }
    .v-field__overlay{
      background: $color-bg-disable;
    }
  }
  .v-text-field__suffix{
    min-height: 32px;
    padding: 0 16px 0;
    font-size: 12px;
  }
  .v-field__input{
    padding: 0 8px;
    min-height: 32px;
  }
  input{
    min-height: 32px;
    font-size: 13px;
  }
  .v-field--rounded{
    .v-field__input{
      padding: 0 8px 0 16px;
    }
  }
  &.is-tag {
    display: inline-block;
    align-self: center;
    flex: 0 0 150px;
    min-width: 150px;
    .v-field__input{
      padding: 0 16px;
    }
    .v-field__outline {
      .v-field__outline__start{
        flex: 0 0 16px;
        border-radius: 50px 0 0 50px;
      }
      .v-field__outline__end{
        border-radius: 0 50px 50px 0;
      }
    }
  }
  &.type-vline{
    .v-field__outline {
      .v-field__outline__start,
      .v-field__outline__end{
        border-bottom-color: #FFF !important;
        border-radius: 0 !important;
      }
    }
  }

  &.type-hover{
    .v-field--variant-outlined {
      .v-field__outline__start,
      .v-field__outline__end{
        border-color: transparent !important;
        opacity: 1;
      }
    }
    .v-field--focused{
      .v-field__outline {
        .v-field__outline__start,
        .v-field__outline__end{
          border-color: $color-main !important;
        }
      }
    }
    &:hover{
      .v-field{
        background: $color-bg;
      }
      // .v-field__outline {
      //   .v-field__outline__start,
      //   .v-field__outline__end{
      //     border-color: $color-main !important;
      //   }
      // }
    }
  }

  &.node-title{
    input{
      font-size: 16px;
    }
  }
  &.block-title{
    input{
      font-size: 14px;
    }
  }
  .v-field--variant-outlined {
    .v-field__outline__start,
    .v-field__outline__end{
      border-color: $color-border !important;
      opacity: 1;
    }
  }
  .v-field--focused{
    .v-field__outline {
      .v-field__outline__start,
      .v-field__outline__end{
        border-color: $color-main !important;
        --v-field-border-width: 1px;
      }
    }
  }

}
// textarea
.v-textarea.pl-form{
  .v-field__input{
    mask-image: none;
  }
  textarea {
    padding: 8px;
    font-size: 13px;
  }
  .v-field--variant-outlined {
    .v-field__outline__start,
    .v-field__outline__end{
      border-color: $color-border !important;
      opacity: 1;
    }
  }
  .v-field--focused{
    .v-field__outline {
      .v-field__outline__start,
      .v-field__outline__end{
        border-color: $color-main !important;
        --v-field-border-width: 1px;
      }
    }
  }
  &.type-upround{
    .v-field__outline{
      border-radius: 8px 8px 0 0;
    }
    .v-field__outline__start,
    .v-field__outline__end{
      border-bottom-color: #FFF !important;
    }
  }
  &.type-vline{
    .v-field__outline{
      border-radius: 0;
    }
    .v-field__outline__start,
    .v-field__outline__end{
      border-bottom-color: #FFF !important;
    }
  }
}
.pl-label {
  display: block;
  min-height: 32px;
  font-size: 13px;
  font-weight: 500;
  line-height: 32px;
}

// select
.v-select.pl-form {
  .v-select__slot,
  .v-select__selections {
    overflow: hidden;
    height: 100%;
    flex-wrap: nowrap;
    // text-overflow:ellipsis;
    // white-space:nowrap;
    .v-chip {
      flex: 0 0 auto;
    }
  }
  .mdi-menu-down {
    &::before {
      content: "";
      width: 20px;
      height: 20px;
      background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M14 8L10 12L6 8' stroke='%232D4364' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
    }
  }
  .v-input__append-inner {
    margin-right: -5px !important;
  }
  .v-label {
    top: calc(50% - 11px);
    font-size: 12px;
    color: #333;
  }
  .v-select__selection--comma {
    flex: 0 0 auto;
    margin: 0;
    padding-bottom: 2px;
  }
  .v-select__selection-text{
    font-size: 13px;
  }
  &.type-play{
    width: 30px;
    transition: all ease-in .5s;
    .v-field__overlay{
      transition: width ease-in .5s;
      background: #4f62cd1f;
      border-radius: 25px;
      opacity: 0;
    }
    .v-field__input{
      span{
        width: 0;
        height: 0;
        opacity: 0;
      }
    }
    .v-field__append-inner{
      width: 0;
      opacity: 0;
    }
    &.is-on,
    &:hover{
      width: auto;
      .v-field__overlay{
        opacity: 1;
      }
      .v-field__input{
        span{
          width: auto;
          height: auto;
          opacity: 1;
        }
      }
      .v-field__append-inner{
        width: auto;
        opacity: 1;
      }

    }
    .v-field--variant-outlined {
      .v-field__outline__start{
        padding-left: 25px;
        border-radius: 25px 0 0 25px;
        border-width: 0;
      }
      .v-field__outline__end{
        border-radius: 0 25px 25px 0;
        border-width: 0;
      }
    }
  }
}
.v-autocomplete.v-select.v-input--is-focused input {
  min-width: 10px;
}

.v-list {
  border-radius: 3px;
}
.v-list-item {
  min-height: 30px;
  padding: 0 8px;
}
.v-list-item__content {
  padding: 0;
}
.v-list-item__title {
  font-size: 12px;
}
.v-menu__content {
  background: #ffffff;
  border: 1px solid $color-border-focus;
  border-radius: 5px !important;
  padding: 10px 8px;
  .v-select-list {
    display: flex;
    flex-flow: column;
    gap: 4px;
    .v-list-item {
      border-radius: 5px;
      &::before{
        opacity: 0;
      }
      &:hover {
        background: $color-bg-drop-focus;
      }
      &.v-list-item--active {
        background: $color-bg-drop-focus !important;
        color: $color-drop-focus !important;
      }
    }
  }
}

.v-menu__content {
  .v-list-item__action {
    min-width: 20px;
    margin: 0;
  }
  .v-simple-checkbox {
    .v-icon.v-icon {
      // position: relative;
      // top: -1px;
      font-size: 16px;
    }
  }
}
.v-application--is-ltr .v-list-item__action:first-child,
.v-application--is-ltr .v-list-item__icon:first-child {
  margin-right: 1px;
}

.v-select__selections {
  > .auto-value,
  > .auto-group {
    line-height: 15px;
  }
  > .auto-value:first-child {
    margin-left: 5px;
  }
  > .auto-value:before {
    top: 3px;
  }
  input {
    padding-left: 5px;
  }
}
// select menu
.v-overlay {
  .v-select__content {
    .v-list-item{
      min-height: 40px;
      .v-list-item__prepend{
        max-width: 20px;
        margin-right: 12px;
      }
      .v-list-item-title{
        font-size: 13px;
      }
    }
  }
}

