@charset "utf-8";

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
  border-radius: 4px;
  background: rgba($color-scrollbar, .1);
}
/* Track */
::-webkit-scrollbar-track {
  background: rgba($color-scrollbar, .1);
  border-radius: 4px;
}
/* Handle */
::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background: rgba($color-scrollbar, .5);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #999;
}

.pl-scrollable{
  overflow-y: scroll;
}
.pl-scrollable:hover::-webkit-scrollbar {
  width: 6px;
}

.pl-scrollable:hover::-webkit-scrollbar-thumb {
  background: rgba($color-scrollbar, .5);
}

.pl-scrollable:hover::-webkit-scrollbar-track {
  background: transparent;
}


.pl-scrollable::-webkit-scrollbar {
  // width: 0;
  background: transparent;

}

.pl-scrollable::-webkit-scrollbar-thumb:hover {
  background: #999;
}

.pl-scrollable::-webkit-scrollbar-thumb {
  background: transparent;
}

.pl-scrollable::-webkit-scrollbar-track {
  background: transparent;
}


