@charset 'utf-8';
.pl-tag{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 30px !important;
  padding: 0 20px;
  font-size: 13px;
  border-radius: 15px;
  border: 1px solid var(--chatmain-color) !important;
  background: #FFF !important;
  box-sizing: border-box;
  white-space: pre;
  color: var(--chatmain-color) !important;
}

.pl-tags-wrap {
  display: flex;
  column-gap: 8px;
  flex-wrap: wrap;

  .v-chip-group{
    .v-slide-group__content{
      display: flex;
      gap: 6px;
      padding: 0 !important;
      .v-chip {
        margin: 0;
        height: 32px !important;
        line-height: 1;
        border: 1px solid $color-border;
      }
      .v-chip__underlay{
        background: #b0b0b0;
      }
    }

  }
  &.type02 {
    background: #FFF;
    overflow: hidden;
    box-shadow: 0 0 3px 3px rgba(0,0,0,.05);

    .v-chip-group .v-slide-group__content{
      flex-direction: column;
      gap: 0;

      .v-chip{
        position: relative;
        &::before{
          content: "";
          position: absolute;
          top: 50%;
          left: 10px;
          width: 20px;
          height: 20px;
          background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12.6 7.30973L16.5682 7.89477C16.9747 7.95529 17.1489 8.47983 16.8489 8.78244L13.9937 11.7077C13.8776 11.8288 13.8195 12.0002 13.8486 12.1717L14.5551 16.3579C14.6228 16.7714 14.226 17.0942 13.8582 16.9228L10.2385 15.2281C10.103 15.1676 9.95782 15.1676 9.82233 15.2281L6.22194 16.953C5.85416 17.1245 5.44765 16.8017 5.5154 16.3881L6.18322 12.202C6.21225 12.0305 6.15419 11.859 6.03805 11.738L3.15386 8.8329C2.85383 8.53028 3.01836 8.00575 3.42485 7.94522L7.38334 7.32989C7.54787 7.29963 7.68338 7.19876 7.76081 7.04746L9.51261 3.29505C9.6965 2.90165 10.2288 2.90165 10.4127 3.29505L12.2032 7.02729C12.2806 7.1786 12.4162 7.28956 12.5807 7.30973H12.6Z' fill='%23FEBD15' stroke='%23FEBD15' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
          transform: translateY(-41%);


        }
        &.v-size--default {
          flex: 1;
          padding: 10px 30px 10px 33px;
          font-size: 13px;
          border-radius: 0px;
          border: 0 !important;
          border-bottom: 1px solid #e1e1e1 !important;
          &:hover{
            background: #f1f1f1 !important;
          }
          &:last-child{
            border-bottom: 0;
          }
          .v-chip__content{
            color: $color-main;
          }
        }
      }
    }
  }
  &.type03 {
    background: #FFF;
    overflow: hidden;
    box-shadow: 0 0 3px 3px rgba(0,0,0,.05);

    .v-chip-group .v-slide-group__content{
      flex-direction: column;
      gap: 0;

      .v-chip{
        position: relative;
        &::before{
          content: "";
          position: absolute;
          top: 50%;
          left: 10px;
          width: 20px;
          height: 20px;
          background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pjxzdmcgdmlld0JveD0iMCAwIDI0IDI0IiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPjx0aXRsZS8+PHBhdGggZD0iTTEyLjI1LDJBOS44MSw5LjgxLDAsMCwwLDQuNzcsNS40NkwzLjQxLDQuMjVhMSwxLDAsMCwwLTEuMDctLjE2QTEsMSwwLDAsMCwxLjc1LDVWOWExLDEsMCwwLDAsMSwxaDQuNWExLDEsMCwwLDAsLjkzLS42NCwxLDEsMCwwLDAtLjI3LTEuMTFMNi4yNiw2Ljc4YTcuODYsNy44NiwwLDAsMSw2LTIuNzhBOCw4LDAsMSwxLDQuNzIsMTQuNjdhMSwxLDAsMCwwLTEuODkuNjZBMTAsMTAsMCwxLDAsMTIuMjUsMloiIGZpbGw9IiM0NjQ2NDYiLz48cGF0aCBkPSJNMTYsMTZhMSwxLDAsMCwxLS42LS4ybC00LTNBMSwxLDAsMCwxLDExLDEyVjhhMSwxLDAsMCwxLDIsMHYzLjVsMy42LDIuN2ExLDEsMCwwLDEsLjIsMS40QTEsMSwwLDAsMSwxNiwxNloiIGZpbGw9IiM0NjQ2NDYiLz48L3N2Zz4=);
          transform: translateY(-41%);
        }
        &.v-size--default {
          flex: 1;
          padding: 10px 10px 10px 33px;
          font-size: 13px;
          border-radius: 0px;
          border: 0 !important;
          border-bottom: 1px solid #e1e1e1 !important;
          &:last-child{
            border-bottom: 0;
          }
          &:hover{
            background: #f1f1f1 !important;
          }

          .v-chip__content{
            color: $color-font-focus;
          }
        }
      }
    }
  }
}