@charset 'utf-8';

// mark: tree
.pl-tree{
  background: #FFF;
  border: 1px solid $color-border;
  border-radius: 6px;
  padding: 8px;
  .node-wrapper{
    &:hover,
    &.focused{
      border-radius: 4px;
      background-color: rgba(79,98,205,.1)
    }
  }
  .input-wrapper{
    margin-left: 4px;
  }
  .checkbox-wrapper{
    border-width: 1px;
    border-radius: 4px;
    width: 16px;
    height: 16px;
    &::after{
      transform: translate(3px, 4px) rotate(-45deg);
      width: 9px;
      height: 5px;
      border: 1px solid #fff;
      border-top-style: none;
      border-right-style: none;
    }
  }
}