@charset 'utf-8';

// mark: 패널 리스트
.ui-panel-form-list{
  display: flex;
  flex-direction: column;
  row-gap: 8px;
  > div{
    padding-bottom: 12px;
    border-bottom: 1px solid $color-border;
    &:last-of-type{
      border-bottom: 0;
    }
  }
}

// mark: 패널 박스
.ui-panel-box{
  padding: 8px;
  border: 1px solid $color-border;
  border-radius: 4px;
}

// mark: 패널 이미지
.property-img{
  overflow: hidden;
  display: flex;
  position: relative;
  width: 100%;
  height: 100%;
  flex: 1;
  align-items: center;
  justify-content: center;
  &::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba($color: #000000, $alpha: .3);
    opacity: 0;
    border-radius: 8px 8px 0 0;
    transition: all $easing-time;
  }
  &:hover{
    img {
      filter: blur(2px);
    }
    &::after{
      opacity: 1;
    }
    .over-btn{
      display: flex;
      gap: 8px;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: 1;
    }
  }
  .over-btn{
    display: none;
  }
}