@charset 'utf-8';


//mark: edge button
.edgebutton{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 18px;
  height: 18px;
  background: #FFF;
  border: 1px solid #797979;
  border-radius: 50%;
}
// mark: ars buliler
#main-canvas,
#chatbot-canvas {
  .vue-flow__handle{
    top: 50%;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: #FFF;
    box-shadow: 0 0 0px 2px #b9b9b9;

    &.start-handle{
      right: 18px;
      background: #FFF;
      box-shadow: 0 0 0px 4px rgba(255,255,255,.3);
    }
    &.target-handle{
      box-shadow: none;
    }
    &.node-source-handle{
      top: initial;
      right: 3px;
      bottom: 10px;
    }
    &.handle-sub {
      top: 50% !important;
      width: 10px !important;
      height: 10px !important;
      border-radius: 50% !important;
      background: #adadad;
      box-shadow: 0 0 0px 1.5px #b9b9b9;
    }
    &.vue-flow__handle-valid:not(.handle-sub){
      // background: #001aff42 !important;
    }
    &.vue-flow__handle-left:not(.handle-sub){
      top: 21px !important;
      left: 38px !important;
      width: 80px !important;
      height: 43px !important;
      background: transparent;
      border: 0 !important;
      border-radius: 0 0 50% 0 !important;
      transition: all 0.5s ease;
      filter: blur(5px);
    }
  }
  // mark: flow-edge
  .vue-flow__edge {
    .vue-flow__edge-path {
      stroke: #9FABB8;
      stroke-width: 1.5;
    }
    [id*=subhandle]{
      // stroke: #c2c2c2;
    }
    &.selected {
      .vue-flow__edge-path {
        stroke: rgb(2, 2, 2) !important;
      }
      [id*=subhandle]{
        stroke: rgb(2, 2, 2) !important;
      }
    }
    &.selectedEdge{
      .vue-flow__edge-path {
        stroke: #4f62cd !important;
        stroke-dasharray: 5, 5;
        stroke-dashoffset: 50;
        animation: ani 5s linear infinite;

        @keyframes ani {
          0% {
            stroke-dashoffset: 50;
          }
          50% {
            stroke-dashoffset: 0;
          }
          100% {
            stroke-dashoffset: -50;
          }
        }
      }
    }
  }
  .vue-flow__node{

    &.selected{
      > div::before {
        border-color: #4f62cd !important;
      }
    }
  }
}

// mark: chatbot builider
.chatbot-card{
  overflow: hidden;
  position: relative;
  transition: all .3s ease;
  &.active-true{
    border-color: #4f62cd !important;
    .chatbot-card--btn{
      opacity: 1;
      pointer-events: all;
    }
  }
  &:hover{
    border-color: #4f62cd !important;
    box-shadow: 0 3px 3px 1px rgba($color: #000000, $alpha: .15);
    .chatbot-card--btn{
      opacity: 1;
      pointer-events: all;
    }
  }
  &--btn{
    display: flex;
    align-items: center;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    pointer-events: none;
    background: #4f62cdd8;
    transition: all .3s ease;
    z-index: 100;
  }
  .card-badge{
    position: absolute;
    top: 6px;
    right: -17px;
    background-color: rgb(0, 122, 112);
    color: #FFF;
    font-size: 11px;
    font-weight: 700;
    transform: rotate(45deg);
    padding: 0 20px 0;
  }
}


// mark: node
.ui-node{
  position: relative;
  display: flex;
  width: 250px;
  padding: 12px 12px 40px;
  font-size: 16px;
  border-radius: 8px;
  border: 1px solid rgb(228, 234, 239);
  &::before{
    content: '';
    position: absolute;
    top: 2px;
    left: 2px;
    right: 2px;
    bottom: 2px;
    border: 2px solid #FFF;
    border-radius: 8px;
  }
  &.type-start{
    width: 150px;
    padding: 8px 12px;
    align-items: center;
    line-height: 0;
    padding-right: 40px;
    border-radius: 25px !important;
    background: $color-main;
    color: #FFF;
    &::before {
      display: none;
    }
  }
  &.action {
    width: auto;
    min-width: 150px;
    padding: 8px !important;
    border-radius: 25px;
    &::before{
      display: none;
    }
    .preview-wrap{
      background: transparent;
    }
  }
  .node-toolbar{
    opacity: 0;
    position: absolute;
    top: -46px;
    left: 0;
    display: flex;
    justify-content: center;
    width: 100%;
    transition: all .3s ease;
    transform: scale(.8);
    cursor: auto;
    z-index: 1000;
    &-inner{
      display: flex;
      align-items: center;
      padding: 2px;
      background: #fff;
      border-radius: 25px;
      pointer-events: none;
      .v-btn {
      }
    }
  }
}
.selected .node-toolbar{
  opacity: 1;
  .node-toolbar-inner {
    pointer-events: all;
  }
}

// mark: block
.ui-block{
  // padding: 8px;

   &.btnGroup{
    display: flex;
    flex-direction: column;
    padding: 8px;
    > div{
      .preview-btn{
        border-bottom: 0;
      }

      &:first-child {
        .preview-btn{
          border-radius: 8px 8px 0 0;
        }
      }
      &:last-child {
        .preview-btn{
          border-radius: 0 0 8px 8px;
          border-bottom: 1px solid $color-border !important;
        }
      }
    }
   }
   &.blockCarouselGroup{
    display: flex;
    flex-direction: column;
    padding: 0;
    > div{
      border-bottom: 1px solid $color-border;
      &:first-child{
        margin-top: 0;
      }
      &:last-child{
        border-bottom: 0;
      }
    }

     .carouselBtnGroup{
      padding: 8px;
      display: flex;
      flex-direction: column;
      > div{
        .preview-btn{
          border-bottom: 0;
        }

        &:first-child {
          .preview-btn{
            border-radius: 8px 8px 0 0;
          }
        }
        &:last-child {
          .preview-btn{
            border-radius: 0 0 8px 8px;
            border-bottom: 1px solid $color-border !important;
          }
        }
      }
     }
   }
   &-action{
    position: absolute !important;
    left: 250px;
    top: 50%;
    width: max-content;
    padding: 4px !important;
    background: #FFF;
    border: 1px solid $color-border;
    border-radius: 25px;
    transform: translateY(-50%);
    &::before{
      content: '';
      position: absolute !important;
      left: -37px;
      top: 50%;
      width: 37px;
      height: 2px;
      background: #b8b8bd;
      transform: translateY(-50%);

    }
    &::after{
      content: '';

    }
   }
   &.blockImg {
    padding: 4px;
   }

}
.ui-block-header{
  display: flex;
  align-items: center;
  padding: 4px 0 4px 36px;
}

// mark: preview scene
.preview-wrap{
  background-color: #FFF;
  border-radius: 8px;
}

.preview-btn{
  height: 37px;
  padding: 8px;
  border: 1px solid $color-border;
  background: #FFF;
  text-align: center;
  font-size: 13px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  &.type-add {
    border-radius: 0 0 8px 8px;
    background: #f3f4fa;
  }
  &.single{
    border-radius: 8px !important;
  }
}

.panel-btnGroup{
  > li {
    .preview-btn{
      background: $color-bg;
      border-radius: 0;
      border-bottom: 0;

    }
    &:first-child {
      .preview-btn{
        border-radius: 8px 8px 0 0;
      }
    }
  }
}